@model List<ApplicationCore.Models.MovieCardResponseModel>
@{
    ViewData["Title"] = "Cast Page";
}

<div class="rounded">
    <div class="container-fluid bg-light">

        

    </div>
</div>